header,footer,nav,div,p,body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
  }
  
  header{
  background-color:#00008B ;
  height: 3em;
  }

  header nav{
    position: relative;
    display: block;
    float: left; 
  }
  
  header li{
    display: inline;
    padding: 1em;
    font-size: 1.2em;
  }
  
  body{
   background-color: rgb(44, 57, 106);
   text-align: center;
   font-size: 2em;
   color: white;
  }

  body h1{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

   h2{
    text-align: center;
    font-size: 1em;
    color: white;
    top: 5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

   body button{
    background-color: rgb(37, 45, 80);
    text-align: left;
    font-size: 0.70em;
    line-height: 1.2;
    width: 100%;
    color: white;
    border-radius: 10px;
    float: center;
    top: 14em;
    margin-top: 0.6em;
    font-family: 'Arial'; }
    
  
  img{
    position: relative;
    display: block;
    width: 3em;
    margin: auto;
  }

  form{
    margin-top: 10%;
  }

   fieldset{
    background-color: rgb(128, 92, 173);
    position: relative;
    display: block;
    width: 15em;
    height: 210px; 
    padding: 5px 20px; 
    margin: auto;
/*    margin-top: 15em;*/
    text-align: left;
    border-radius: 15px;
   }

   .btn:hover{
    background-color: lawngreen;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    color: black;
   }

   #parks p{
    font-size: 0.60em;
    text-align: center;
   }

   article{
    display: flex;
    width: 100%;
    maring: auto;
    margin-top: 10%;
    justify-content: space-around;
   }

   article #humid, article #precipitation, article #windspeed{
    background-color: rgb(84, 96, 188);
    position: relative;
    display: block;
    width: 8em;
    height: 100px;
    padding: 5px 20px; 
    margin: auto;
    border-radius: 15px;
   } 
  

   article h1{
    font-size: 0.90em;
   }

   article {
    font-size: 0.60em;
   }
  




  
    
   
   
  
  
   
  
  
  
  
