
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather App </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>

</head>
<body>
    <div class="intro">
        <h1>London</h1>
        <h2>{{ temperature }}°C.</h2>
        <img src = "{{ url_for('static', filename = image) }}">
    </div>


    <div class="stats">
        <div class="stat">
            <p class="day">M</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">T</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">W</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">T</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">F</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">S</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">S</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="chooseparks">
        <p> Choose Park</p>
        <form method="POST" action="/weather" align="center">
            <button name="place" value="Thorpe Park" class="btn"> Thorpe park</button>
            </br>
        
            <button name="place" value="Alton Towers" class="btn">Alton Towers</button>
            </br>
        
            <button name="place" value="Blackpool Amusement Park" class="btn">Blackpool amusement park</button>
            </br>
        </form> 
    </div>
</body>
</html>
