
<!DOCTYPE html>
<html>
<head>
    <!-- linked to index.css -->
    <meta charset="UTF-8">
    <title>Weather App </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>    

</head>
<body>
    <div class="intro"> 
         <!-- Name of place, temperature and image shown depends on the temperature -->
        <h1>London</h1>
        <h2>{{ temperature }}°C.</h2>
        <img src = "{{ url_for('static', filename = image) }}">
    </div>

    <div class="stats">
        <!-- Table that shows humidity, precipitation and wind speed and images that depends on these conditions according to days in a week -->
        <div class="stat">
            <p class="day">M</p>
            <!-- Monday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">T</p>
            <!-- Tuesday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">W</p>
             <!-- Wednesday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">T</p>
             <!-- Thursday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">F</p>
            <!-- Friday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">S</p>
            <!-- Saturday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">S</p>
            <!-- Sunday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
    </div>

    <!-- Button for users to use to see weather for each parks -->
    <div class="chooseparks">
        <p class="header" align="center">Choose Park To Visit</p>
        <form method="POST" action="/weather" align="center" style="margin-left: 15%">
            <button name="place" value="Thorpe Park" class="btn"> Thorpe park</button>
            </br>
        
            <button name="place" value="Alton Towers" class="btn">Alton Towers</button>
            </br>
        
            <button name="place" value="Blackpool Amusement Park" class="btn">Blackpool amusement park</button>
            </br>
        </form> 
    </div>
</body>
</html>
