<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather App </title>
    <link rel="stylesheet" href="index.css"> <linked to the css>

</head>
<body>
    <p> London</p>
    <p>{{ temperature }}°C.</p>
   
    <form method="POST" action="/weather">
        <button name="place" value="THORPE PARK"> Thorpe park</button><hr>
        <button name="place" value="alton towers">Alton Towers</button><hr>
        <button name="place" value="backpool amusement park">Blackpool amusement park</button>
    </form>

</body>
</html>
