<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>
    <h1>Weather in {{ place }}</h1>
    <p>The current temperature is {{ temperature }}°C.</p>
    <img src = "{{ url_for('static', filename = image) }}">
    <p> humidity is {{ humidity }} %</p>
    <p> precipation is {{ precipitation }} %</p>
    <p> wind speed is {{ wind_speed }} mph</p>
    <p>recommended activities are:</p>
    <ul>
        {% for i in array %}
            <li>The name is {{ i['name'] }}...the linke video can be found at <a href =  {{ i["video"] }}>here</a></li>
        {% endfor %}
    </ul>
</body>
</html>
