<!DOCTYPE html>
<html>
<head>
    <!-- linked to weather.css -->
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='weather.css')}}">
</head>
<body>
    <div id="Home"> 
        <!-- Button so that user can go back to Home (index.html) -->
        <form action="{{ url_for('index') }}" align="center">
            <button name="home" class="btn">Home</button>
            </br>
        </form>
    </div> 
    <div class="summary">
        <!-- Name of place, temperature and image shown depends on the temperature -->
        <h1>Weather in {{ place }}</h1>
        <h2>{{ temperature }}°C.</h2>
        <img src = "{{ url_for('static', filename = image) }}">
    </div>
    
    <div class="stats">
        <!-- Table that shows humidity, precipitation and wind speed and images that depends on these conditions according to days in a week -->
        <div class="stat">
            <p class="day">M</p>
            <!-- Monday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">T</p>
            <!-- Tuesday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">W</p>
            <!-- Wednesday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">T</p>
            <!-- Thursday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">F</p>
            <!-- Friday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">S</p>
            <!-- Saturday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">S</p>
            <!-- Sunday -->
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
    </div>
        <div class="activities">
            <!-- Shows rides that available on that day based on the weather and video attached to it -->
            <p class="header">Available Rides:</p>
            <p class="header">Video:</p>
            {% for i in array %}
                <div class="activity">
                    <p>{{ i['name'] }} </p>
                    <a href =  {{ i['video'] }} class = "btn">Watch a Video</a>
                </div>
            {% endfor %}
        </div>
</body>
</html>
