<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='weather.css')}}">
</head>
<body>
    <div id="Home"> 
        <form method="POST" action="/index" align="center">
            <button name="home" class="btn">Home</button>
            </br>
        </form>
    </div> 
    <div class="summary">
        <h1>Weather in {{ place }}</h1>
        <h2>{{ temperature }}°C.</h2>
        <img src = "{{ url_for('static', filename = image) }}">
    </div>
    
    <div class="stats">
        <div class="stat">
            <p class="day">M</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">T</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">W</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">T</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">F</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">S</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
        <div class="stat">
            <p class="day">S</p>
            <div>
                <img src="../static/humidity.svg">
                <p> {{ humidity }} %</p>
            </div>
            <div>
                <img src="../static/precipitation.svg">
                <p>{{ precipitation }} %</p>
            </div>
            <div>
                <img src="../static/wind.svg">
                <p>{{ wind_speed }} mph</p>
            </div>
        </div>
        <hr>
    </div>
        <div class="activities">
            <p class="header">Activity:</p>
            <p class="header">Video:</p>
            {% for i in array %}
                <div class="activity">
                    <p>{{ i['name'] }} </p>
                    <a href =  {{ i['video'] }} class = "btn">Watch a Video</a>
                </div>
            {% endfor %}
        </div>
</body>
</html>
